:root {
    --size: 46rem;
}

.wrapper {
    position: relative;
}

.Icon {
    pointer-events: auto;
    // order: 5;
}

.Icon img {
    width: var(--size);
    height: var(--size);
}

.panel {
    position: absolute;
    width: 400rem;
    top: 110%;
}

.header {
    display: flex;
    flex-direction: column;
}

.headerText {
    margin-left: -5rem;
}

.toolButton {
    background: rgba(34, 13, 22, 0.5);

    &:hover {
    background: rgb(34, 13, 22);
    }
}
