:root {
    --size: 46rem;
}

.wrapper {
    position: relative;
}

.Icon {
    pointer-events: auto;
    // order: 5;
}

.Icon img {
    width: var(--size);
    height: var(--size);
}

.panel {
    position: absolute;
    min-width: 400rem;
    top: 110%;
}

.header {
    display: flex;
    flex-direction: column;
}

.headerText {
    margin-left: -5rem;
}
