:root {
    --size: 46rem;
}

.wrapper {
    position: relative;
}

.Icon {
    pointer-events: auto;
    // order: 5;
}

.Icon img {
    width: var(--size);
    height: var(--size);
}

.panel {
    position: absolute;
    min-width: 400rem;
    top: 110%;
}

.header {
    display: flex;
    flex-direction: column;
}

.headerText {
    margin-left: -5rem;
}

.updateBadge {
    position: absolute;
    bottom: -4rem;
    right: -5rem;
    width: 12rem;
    height: 12rem;
    background-color: rgba(255, 99, 183, 1);
    border-radius: 50%;
    z-index: 2;
}

.toolButton {
    position: relative;
}
