.wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.panel {
    --panelRadius: 20rem;

    height: 80vh;
    width: 900rem;
    max-width: 80vw;
    border-radius: 20rem;

    animation: 600ms fadeInScale ease-out forwards;
    animation-delay: 2s;

    p,
    li {
        font-size: 1.1em;
    }
}

.header {
    background-image: url("coui://platter/header.png");
    display: flex;
    flex-direction: column;
    background-size: cover;
    border-top-left-radius: 20rem 20rem;
    border-top-right-radius: 20rem 20rem;

    h2 {
        margin-top: 0;
        margin-bottom: 8rem;
        font-weight: bold;
    }

    h3 {
        margin: 0;
        font-weight: bold;
    }

    & > * > * {
        max-height: auto;
    }

    &__inner {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-top: 4rem;
        padding-left: 64rem;
        padding-right: 64rem;
        padding-bottom: 4rem;
    }
}

.whatsNewPage {
    padding-top: 32rem;
}

.intro {
    text-align: left;
    text-transform: initial;
    padding-top: 24rem;
    padding-bottom: 24rem;
    padding-right: 100rem;
    font-weight: 600;
}

.content {
    padding: 16rem 8rem 0;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 16rem 0;
    gap: 16rem;
}

.pageSwitcher {
    flex: 2;
    height: 100%;
}

.card {
    width: 100%;
    display: flex;
    flex-direction: row;

    &__inner {
        flex: 1;
        flex-shrink: 1;
        padding: 16rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        &__image {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
    }

    &__image {
        border-radius: 10rem;
        width: 100%;
        max-width: 500em;
        height: 256rem;
    }

    &__text_container {
        margin-top: 8rem;
        display: flex;
        flex-direction: column;
        max-width: 500em;
    }

    &__text {
        flex-wrap: wrap;
        word-break: break-all;

        span {
            white-space: pre-wrap;
        }
    }

    h3 {
        margin-top: 10rem;
        margin-bottom: 0;
        color: var(--accentColorLighter);
    }

    p {
        margin-top: 10rem;
    }
}

.highlight {
    color: var(--accentColorLight);
}

.pageSelectorWrapper {
    margin-bottom: 16rem;
}

.list {
    display: list-item;
    margin: 6rem 0;
}

.list small {
    opacity: 0.3;
}

.list ol,
.list ul {
    display: list-item;
}

.list li {
    margin-bottom: 1rem;
}

.list > li {
    position: relative;
}

.action {
    margin-top: 30rem;
}

.alert {
    border: 1rem solid orange;
    color: orange;
    padding: 16rem;
    border-radius: 6rem;
    margin-top: 32rem;

    p {
        margin: 0;
    }
}

.disclaimer_container {
    height: 100%;
    margin: 0;
}
