.moddedSection {
    box-shadow: inset 2rem 0 0 0 rgba(255, 98, 183, 0.5);
    background-color: rgba(255, 98, 183, 0.1);

    &:first-child {
        margin-top: -6rem;
        margin-bottom: 2rem;
        padding-top: 6rem;
    }

    &:last-child {
        margin-top: 2rem;
        margin-bottom: -6rem;
    }
}

.button {
    width: auto;
    color: rgba(255, 255, 255, 0.9);
    border: none;
    padding-left: 8rem;
    padding-right: 8rem;
}
