.wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: translateY(15rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.moddedSection {
    // box-shadow: inset 2rem 0 0 0 rgba(255, 98, 183, 0.5);
    margin-bottom: 4rem;
    animation: 300ms fadeInScale ease forwards;
    padding-bottom: 2rem;

    &_Header {
        display: flex;
        flex-direction: row;
        padding-left: 12rem;
        padding-bottom: 4rem;
        align-items: center;
        justify-content: space-between;

        &_Image {
            width: 24rem;
            height: 24rem;
            margin-right: 4rem;
        }

        &_Title {
            font-weight: 600;

            color: var(--accentColorNormal);
            font-size: var(--fontSizeM);
            line-height: 1.25em;
        }
    }
}

.button[disabled] {
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
}

.dropdownToggleInner {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.dropdownItem {
    padding: 2rem 2rem 0 0;

    &:hover {
        background-color: transparent;
    }

    &__inner {
        display: flex;
        text-align: left;
        align-items: center;
        flex-direction: row;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.1);
        padding: 3rem;
        border-radius: 2rem;
        color: rgba(217, 217, 217, 1);

        &:hover {
            background-color: rgba(255, 255, 255, 0.2);
        }
    }
}

.controlsRowWidthDropdown {
    button {
        padding-left: 4rem;
        padding-right: 4rem;
        text-align: left;
        color: rgba(217, 217, 217, 1);

        img {
            width: 100%;
            height: 100%;
        }

        & > div {
            align-items: center;
            display: flex;
        }
    }
}

.dropdownMenu {
    height: 90%;
    background-color: var(--panelColorDark);
    backdrop-filter: var(--panelBlur);
    color: var(--accentColorNormal);
}

.modeButton {
    padding: 10rem;
    width: auto;
    height: auto;
}

.dropdownToggle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(15, 16, 19, 1);
    border-top-left-radius: 4rem;
    border-top-right-radius: 4rem;
    border-bottom-left-radius: 4rem;
    border-bottom-right-radius: 4rem;
    padding-left: 4rem;
    padding-right: 2rem;
    color: rgba(217, 217, 217, 1);
    width: 90%;
    height: 28rem;
}

.dropdownContent {
    width: 1040rem;
    max-width: 80vw;
    display: flex;
    flex-direction: row;

    &__sidebar {
        width: 48rem;
        padding: 8rem;
        border-right: 1rem solid rgba(255, 255, 255, 0.1);
        height: 35vh;
        position: fixed;
    }

    &__content {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        flex: 1;
        padding-bottom: 32rem;
        padding-left: 48rem;
    }
}

.noZonesMessage {
    color: rgba(217, 217, 217, 0.5);
    font-style: italic;
    padding: 4rem;
    font-size: 0.85em;
}

.packButton {
    margin-bottom: 4rem;
}

.packButton + .packButton {
    margin-left: 0;
}

.zoneCategory {
    width: 100%;
    padding-left: 4rem;
    min-height: 48rem;
}

.zoneCategoryZones {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 10rem;

    & > button {
        width: 33%;
        overflow: hidden;
    }

    .zoneName {
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        flex: 1;
    }
}

.dropdownIcon {
    --size: 26rem;
    width: var(--size);
    height: var(--size);
}

.dropdownZoneIcon {
    margin-right: 4rem;
}

.dropdownToggleLabel {
    margin-right: 4rem;
    margin-left: 4rem;
    color: rgba(217, 217, 217, 1);
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
    text-align: left;
}

.dropdownCategory {
    padding: 4rem;
    padding-left: 10rem;
    text-align: left;
    color: rgba(217, 217, 217, 0.75);
    align-items: center;
    display: flex;
    flex-direction: row;
}
