.wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.moddedSection {
    --sidePanelWidth: calc(380rem*(1+( var(--fontScale) -1)/2));
    --mainPanelWidth: calc( var(--assetMenuColumns) *( var(--assetMenuItemSize) + var(--assetMenuItemGap) )- var(--assetMenuItemGap) +40rem);
    --rightSpacing: calc(100vw - var(--mainPanelWidth) - var(--sidePanelWidth));

    box-shadow: inset 2rem 0 0 0 rgba(255, 98, 183, 0.5);
    background-color: rgba(255, 98, 183, 0.1);

    &:first-child {
        margin-top: -6rem;
        margin-bottom: 2rem;
        padding-top: 6rem;
    }

    &:last-child {
        margin-top: 2rem;
        margin-bottom: -6rem;
        padding-bottom: 6rem;
    }

    &_Header {
        display: flex;
        flex-direction: row;
        padding-left: 12rem;
        padding-bottom: 4rem;
        align-items: center;
        justify-content: space-between;

        &_Image {
            width: 24rem;
            height: 24rem;
            margin-right: 4rem;
        }

        &_Title {
            font-weight: 600;

            color: var(--accentColorNormal);
            font-size: var(--fontSizeM);
            line-height: 1.25em;
        }
    }
}

.button[disabled] {
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
}

.dropdownToggleInner {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.dropdownItem {
    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    span {
        font-weight: bold;
    }
}

.controlsRowWidthDropdown {
    button {
        padding-left: 10rem;
        padding-right: 10rem;
        text-align: left;
        color: rgba(217, 217, 217, 1);

        img {
            width: 100%;
            height: 100%;
        }

        & > div {
            align-items: center;
            display: flex;
        }
    }
}

.dropdownMenu {
    height: 90%;
    background-color: var(--panelColorDark);
    backdrop-filter: var(--panelBlur);
    color: var(--accentColorNormal);

    button {
        padding: 3rem 10rem;
        text-align: left;
        color: rgba(217, 217, 217, 1);
        align-items: center;
        display: flex;
        flex-direction: row;

        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }
    }
}

.modeButton {
    padding: 10rem;
    width: auto;
    height: auto;
}

.dropdownToggle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(15, 16, 19, 1);
    border-top-left-radius: 4rem;
    border-top-right-radius: 4rem;
    border-bottom-left-radius: 4rem;
    border-bottom-right-radius: 4rem;
    padding-left: 4rem;
    padding-right: 2rem;
    color: rgba(217, 217, 217, 1);
    width: 90%;
    height: 28rem;
}

.dropdownContent {
    width: 1040rem;
    max-width: 80vw;
    display: flex;
    flex-direction: column;
}

.zoneCategory {
    width: 100%;
    padding-left: 4rem;
}

.zoneCategoryZones {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    & > button {
        width: 33%;
        overflow: hidden;
    }

    span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        flex: 1;
    }
}

.dropdownIcon {
    --size: 26rem;
    width: var(--size);
    height: var(--size);
}

.dropdownZoneIcon {
    margin-right: 4rem;
}

.dropdownToggleLabel {
    margin-right: 10rem;
    margin-left: 4rem;
    color: rgba(217, 217, 217, 1);
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
    text-align: left;
}

.dropdownCategory {
    padding-top: 10rem;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-bottom: 4rem;
    text-align: left;
    color: rgba(217, 217, 217, 0.75);
    align-items: center;
    display: flex;
    flex-direction: row;
}
